.App {
  text-align: center;
  background-color: #eae8e8;
}
.mainPart{
  margin-left: 170px;
  height: 100vh;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  position: relative;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
    padding: 5px;
    
    
}
.name{

  display:inline-block;
}

.Space{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  
}
.log {
  color: black;
  padding: 5px;
  float: right;
}

:link {
  text-decoration: none;
}

.sideNav {

  height: 100%;
  width: 130px;
  width: -moz-fit-content;
  position: absolute;
  z-index: 1 !important;
  background-color: white;
  padding: 0px;
  cursor: pointer;
}

.navElement{
  padding: 5px;
  cursor: pointer;
}

.add {
  float: left;
  position: absolute;
  background-color: #f1f1f1;
  padding: 0px 9px 7px 9px;
  margin: -32px 0px;
}
.main
h2 {
  background-color: cadetblue;
  width: 87%;
  padding: 5px 5px 12px 5px;
  margin: 20px;
}

.teamContainer{
  background-color: white;
  width: 87%;
  padding: 5px 5px 12px 5px;
  margin: 20px 20px 20px 20px;
  border-radius: 8px;

}

.team{
  color : white;
  background-color: #3c394f;
  margin: 3px 3px;
  font-size: 20px;
  text-align: initial;
  padding: 2px 3px 3px 10px;
  border-radius: 8px;
}

.time{
  display: inline-block;
  background-color: #9fe6f2;
  width: 45%;
  margin: 1px 2px;
  font-size: 20px;
}

.teamName, .demoTime{
  color: White;
  background-color: #3c394f;
  width: 87%;
  padding: 5px 5px 12px 5px;
  margin: 20px 20px 0px 20px;
  border-radius: 8px;
}

.flex{
display: block;
flex-wrap: wrap;
}

.sub{
  color: white;
  background-color: #3c394f;
  border: none;
  margin: 10px;
  font-size: 17px;
  border-radius: 4px;
}

th{
  color:white;
  background-color: #3c394f;
}
tr{
  background-color: white;
}
table{  
  width: 87%;
  padding: 5px 5px 8px 0px;
  margin: 20px 20px 0px 26px;
}

.repo{
  color: white;
  background-color: #3c394f;
  margin: 0px 20px;
  font-size: 30px;
  border-radius: 8px;
}

p.statusMsg.err {
  width: 87%;
  padding: 5px 5px 12px 5px;
  margin: 20px;
  border: solid red;
  color: red;
  font-size: 25px;
}

p.statusMsg {
  width: 87%;
  padding: 5px 5px 12px 5px;
  margin: 20px;
  border: solid rgb(190, 190, 190);
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.active, .navElement:hover {
  background-color: #eae8e8;
}

.App-link {
  color: #eae8e8;
}

.educationLink{
  color:white
}
.interview{
  background-color: white;
  color: black;
  padding: 6px; 
  border-radius: 8px 8px 0px 0px;
}
.listContainer{
  background-color: #3c394f;
  color: white;
  padding: 0px 0px 6px 0px ;
  border-radius: 18px 18px 8px 8px;
  
}

ul{
  text-align: left; 
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
